<p-panel header="Add New Recipe Card" class="ui-g-12">
  Click on 'Create my recipe card' button to save.
  <br><br>
  <p-fieldset legend="Description">
      Card Title:
      <br>
      Short Description:
      <br>
      Category:
      <br>
      Yield/Serving:
      <br>
      Measure:
      <br>
      
    </p-fieldset>
  <br><br>
  <p-fieldset legend="Instructions">
      Instructions ...
  </p-fieldset>
  <br><br>
  <p-fieldset legend="Ingredients">
      Ingredients here ...
  </p-fieldset>
  <br><br>
  <p-fieldset legend="Cover Image">
      Upload Cover Image ...
  </p-fieldset>
  
  <!--
  <div [hidden]="submitted" style="width: 300px;">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label> <input type="text"
            class="form-control" id="name" required [(ngModel)]="customer.name"
            name="name">
        </div>
     
        <div class="form-group">
          <label for="age">Age</label> <input type="text"
            class="form-control" id="age" required [(ngModel)]="customer.age"
            name="age">
        </div>
     
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
     
    <div [hidden]="!submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newCustomer()">Add</button>
    </div> 
  -->
  <p>
