<p-panel header="Sign In" class="ui-g-12">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            Email:
        </div>
        <div class="ui-grid-col-6">
            <input pInputText type="text" 
                              placeholder="Required" />
        </div>
        <div class="ui-grid-col-4">
            <!--
            <div class="ui-message ui-messages-error ui-corner-all" 
                *ngIf="!registerForm.controls['email'].valid&&registerForm.controls['email'.dirty"]>
            </div>
            Email is required-->
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            Password:
        </div>
        <div class="ui-grid-col-6">
            <input pInputText type="text" 
                              placeholder="Required - min(8)" />
        </div>
        <div class="ui-grid-col-4">
                <!--
                <div class="ui-message ui-messages-error ui-corner-all" 
                    *ngIf="!registerForm.controls['password'].valid&&registerForm.controls['password'.dirty"]>
                </div>
                Password is required-->
        </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"></div>
      <div class="ui-grid-col-6">
          <button pButton type="submit" 
                          label="Login to access my recipe cards" 
                          class="ui-button-success">
          </button>
          <!--<button pButton type="submit" 
                          label="Create my account" 
                          [disabled]="!registerForm.value"
                          class="ui-button-success">
          </button>-->
      </div>
      <div class="ui-grid-col-4"></div>
  </div>
  </div>
</p-panel>

