<p-growl [value]="msgs" sticky="sticky"></p-growl>

<form #addMembersForm = "ngForm" (ngSubmit)="onSaveMember()" novalidate>
    <p-panel header="Sign Up" class="ui-g-12">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <p-fieldset legend="Login (email + password)">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Email:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="email" 
                                      #email="ngModel" 
                                      name="email" 
                                      type="text" 
                                      [(ngModel)] = "model.email"
                                      placeholder="" />
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Password:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="password" 
                                      #password="ngModel" 
                                      name="password" 
                                      type="text" 
                                      [(ngModel)] = "model.password" 
                                      placeholder="" />
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
            </p-fieldset>
            <br>
            <br>
            <p-fieldset legend="Profile">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Last Name:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="last_name" 
                                      #last_name="ngModel" 
                                      name="last_name" 
                                      type="text" 
                                      [(ngModel)] = "model.last_name" 
                                      placeholder="" />
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
            
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    First Name:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="first_name" 
                                      #first_name="ngModel" 
                                      name="first_name" 
                                      type="text" 
                                      [(ngModel)] = "model.first_name" 
                                      placeholder="" />
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
            </p-fieldset>
        
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-6">
                <button pButton type="submit" 
                                label="Create my account" 
                                class="ui-button-success">
                </button>
            </div>
            <div class="ui-grid-col-4"></div>
        </div>
    </div>
</p-panel>
</form>


