<p-panel header="New Recipe" class="ui-g-12">
<form #addRecipeForm="ngForm" (ngSubmit)="onSaveRecipe()" novalidate>
  <p-tabView>
  <p-tabPanel header="Description" leftIcon="fa-tags">
    <div class="ui-g">
      <div class="ui-g-12 ui-lg-12">
        Title:
        <br>
        <input id="name" 
               #name="ngModel" 
               [(ngModel)]="model.name" 
               name="name" 
               type="text" 
               pInputText 
               placeholder="( max length: 50 characters )"
               maxlength="50">
      </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-lg-12">
          Description:
          <br>
          <textarea 
          id="description" 
          #description="ngModel" 
          [(ngModel)]="model.description" 
          name="description" 
          rows="2" 
          pInputTextarea 
          autoResize="autoResize" 
          placeholder="( max lenght: 250 characters )"
          maxlength="250"></textarea>
        </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-lg-12">
        Category:
        <br>
        <div class="ui-g-4 ui-md-4 ui-lg-3">
          <p-radioButton name="category" 
                         value="Bread" 
                         label="Bread" 
                         id="category" 
                         #category="ngModel" 
                         [(ngModel)]="model.category">
          </p-radioButton>
        </div>
        <div class="ui-g-4 ui-md-4 ui-lg-3">
          <p-radioButton name="category" 
                         value="Cake" 
                         label="Cake" 
                         id="category" 
                         #category="ngModel" 
                         [(ngModel)]="model.category">
          </p-radioButton>
        </div>
        <div class="ui-g-4 ui-md-4 ui-lg-3">
          <p-radioButton name="category" 
                         value="Cookies" 
                         label="Cookies" 
                         id="category" 
                         #category="ngModel" 
                         [(ngModel)]="model.category">
          </p-radioButton>
        </div>
        <div class="ui-g-4 ui-md-4 ui-lg-3">
          <p-radioButton name="category" 
                         value="Custard" 
                         label="Custard" 
                         id="category" 
                         #category="ngModel" 
                         [(ngModel)]="model.category">
          </p-radioButton>
        </div>
        <div class="ui-g-4 ui-md-4 ui-lg-3">
          <p-radioButton name="category" 
                         value="Pastry" 
                         label="Pastry" 
                         id="category" 
                         #category="ngModel" 
                         [(ngModel)]="model.category">
          </p-radioButton>
        </div>
          <div class="ui-g-4 ui-md-4 ui-lg-3">
          <p-radioButton name="category" 
                         value="Pie" 
                         label="Pie" 
                         id="category" 
                         #category="ngModel" 
                         [(ngModel)]="model.category">
          </p-radioButton>
        </div>
        <div class="ui-g-4 ui-md-4 ui-lg-3">
          <p-radioButton name="category" 
                         value="Tart" 
                         label="Tart" 
                         id="category" 
                         #category="ngModel" 
                         [(ngModel)]="model.category">
          </p-radioButton>
        </div>
        <div class="ui-g-4 ui-md-4 ui-lg-3">
            <p-radioButton name="category" 
                           value="None" 
                           label="None" 
                           id="category" 
                           #category="ngModel" 
                           [(ngModel)]="model.category">
            </p-radioButton>
        </div>
      </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-6 ui-md-6 ui-lg-4">
          Yield/Serving:
          <br>
          <!--
          <p-spinner size="30" [(ngModel)]="val1" [min]="0" placeholder="(number only)"></p-spinner>
          -->
        </div>
        <div class="ui-g-6 ui-md-6 ui-lg-4">
            Measure:
            <br>
            <input type="text" size="20" pInputText placeholder="ex: g, pax ...">
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
            Difficulty:
            <br>
            <!--
            <p-rating [(ngModel)]="val"></p-rating>
            -->
          </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          Origin/Source:
          <br>
          <input type="text" size="40" pInputText placeholder="ex: url, name ...">
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
            Public/Private:
            <br>
            <!--<p-inputSwitch onLabel="Public" offLabel="Private" [(ngModel)]="checked2"></p-inputSwitch>-->
          </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Instructions" leftIcon="fa-clipboard">
      <div class="ui-g">
      <label for="instructions" class="ui-g-12 ui-md-12">Instructions:</label>
      </div>
      <div class="ui-g">
        <!--  
        <p-editor [(ngModel)]="text" [style]="{'height':'320px'}"></p-editor>
          -->
          <p-editor id="instructions" name="instructions" [(ngModel)]="model.instructions" [style]="{'height':'320px'}"></p-editor>
          </div>
  </p-tabPanel>
  <p-tabPanel header="Ingredients" leftIcon="fa-balance-scale">
      <div class="ui-g">
          <div class="ui-g-12 ui-md-6 ui-lg-2">
            Amount:
            <br>
            <!--<p-spinner size="10" [(ngModel)]="val1" [min]="0" placeholder="(number only)"></p-spinner>
            -->
            </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2">
            Unit:
            <br>
            <input type="text" size="10" pInputText placeholder="ex: g">
          </div>
          <div class="ui-g-12 ui-lg-6">
            Ingredient:
            <br>
            <input type="text" size="40" pInputText placeholder="ex: Cake Flour">
          </div>
      </div>
  </p-tabPanel>
  <p-tabPanel header="Cover Image" leftIcon="fa-image">
      <div class="ui-g">
          <div class="ui-g-12 ui-lg-12">
            ImageURL:
            <br>
            <!--<p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)">
            </p-fileUpload>-->
          </div>
      </div>
  </p-tabPanel>
  </p-tabView>
  <br>
  <!--<button pButton type="button" (click)="count()" icon="fa-check" label="Save New Recipe" class="ui-button-success">-->
  <button pButton type="submit" id="saveRecipeBtn" icon="fa-check" label="Save New Recipe" class="ui-button-success">
  </button>
</form>

</p-panel>
