<form #myPicForm="ngForm" (ngSubmit)="processUpload(myPicForm, myPicField)">

<p-panel header="My Picture" class="ui-g-12">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            Image:
        </div>
        <div class="ui-grid-col-6">
            <input type="file" name="myPic" accept="image/*" #myPicField>
        </div>
        <div class="ui-grid-col-4">
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            Title:
        </div>
        <div class="ui-grid-col-6">
            <input pInputText type="text" name="picTitle" ngModel>
        </div>
        <div class="ui-grid-col-4">
        </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        <button pButton type="submit" label="Upload" class="ui-button-info"></button>
    </div>
      <div class="ui-grid-col-6">
        <button pButton type="button" (click)="goBack()" label="Close" class="ui-button-success"></button>
      </div>
      <div class="ui-grid-col-4"></div>
  </div>
  </div>
</p-panel>

</form>
