#header {
  background-color: #F0F3F5;
  height: 60px;
  position: fixed;
  top: 0px;
  z-index: 99;
  width: 100%;
}

#top-logo {
  height: 60px;
}

#notifications {
  color: blue;
  float: right;
}

#sidenav, #sidenav-mini {
  height: 100%;
  position: fixed;
  top: 60px;
  padding-left: 0px;
  padding-top: 1em;
  background-color: #2D353C !important;
}

#content-body {
  padding-top: 55px;
  position: absolute;
  left: 190px;
}

#sidegutter {
  width: 340px;
}

#minigutter {
  display:none;
}

@media only screen and (max-width: 1000px) {
  #sidegutter {
    display: none;
  }

  #minigutter {
    display: block;
  }

  #content-body {
    left: 80px;
  }
}

@media only screen and (max-width: 400px) {
  #sidegutter {
    display: none;
  }

  #minigutter {
    display: block;
  }
}
