<p-panel header="Admin | List of all members" class="ui-g-12">
  
  <!--
  For admin only.
  <div *ngFor="let m of members" style="padding: 5px;">
    <a [routerLink]="[ '/auth/member-detail', m.id ]">
      <h4 style="display: inline;">{{ m.email }}
      </h4>
    </a>
    <button type="button" (click)="showDetails(m.id)">
      Show
    </button>
  </div>
  -->
  <table class="m-table">
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th></th>
    </tr>
    <tr *ngFor="let m of members">
      <td>
        {{m.id}}
      </td>
      <td>
        {{m.email}}
      </td>
      <td>
        {{m.last_name}}
      </td>
      <td>
        {{m.first_name}}
      </td>
      <td>
        <button pButton type="button" (click)="showDelete(m.id)" label="delete" class="ui-button-danger"></button>
      </td>
      <td>
        <button pButton type="button" (click)="showEdit(m.id)" label="edit" class="ui-button-warning"></button>
      </td>
      <td>
        <button pButton type="button" (click)="showDetail(m.id)" label="more detail" class="ui-button-success"></button>
      </td>
    </tr>
  </table>
  </p-panel>