/* Table */
.m-table {
	border-collapse: collapse;
}

.m-table th, 
.m-table td {
    padding: 7px 17px;
    text-align: left;
}
.m-table caption {
	margin: 7px;
}

.m-table thead th:last-child,
.m-table tfoot th:last-child,
.m-table tbody td:last-child {
    border: 0;
    text-align: left;
}

/* Table Header */
.m-table thead th {
	border-right: 1px solid #c7ecc7;
	text-align: left;
}

/* Table Body */
.m-table tbody td {
	color: #353535;
	border-right: 1px solid #c7ecc7;
	text-align: left;
}
.m-table tbody tr:nth-child(odd) td {
	background-color: #f4fff7;
}
.m-table tbody tr:nth-child(even) td {
	background-color: #dbffe5;
}
.m-table tbody td:nth-child(4),
.m-table tbody td:first-child,
.m-table tbody td:last-child {
	text-align: left;
}
.m-table tbody tr:hover td {
	background-color: #ffffa2;
	border-color: #ffff0f;
}

/* Table Footer */
.m-table tfoot th {
	border-right: 1px solid #c7ecc7;
	text-align: left;
}