<p-panel header="Member Profile | {{ member['email']}} | {{ member['last_name']}} {{ member['first_name']}}" class="ui-g-12">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <p-fieldset legend="Login (email + password)">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Email:
                </div>
                <div class="ui-grid-col-6">
                    {{ member['email']}}
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Password:
                </div>
                <div class="ui-grid-col-6">
                    {{ member['password']}}
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
        </p-fieldset>
        <br>
        <br>
        <p-fieldset legend="Profile">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Last Name:
                </div>
                <div class="ui-grid-col-6">
                    {{ member['last_name']}}
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    First Name:
                </div>
                <div class="ui-grid-col-6">
                    {{ member['first_name']}}
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
        </p-fieldset>
        <br>
        <br>
        <p-fieldset legend="Photo">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    URL:
                </div>
                <div class="ui-grid-col-6">
                    (here is the link to image)
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                </div>
                <div class="ui-grid-col-6">
                    <img src="../assets/img/member.jpg" width="30%" align="left" />
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
        </p-fieldset>
        <br>
        <br>
        <p-fieldset legend="Audit Log">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Created By:
                </div>
                <div class="ui-grid-col-6">
                    (to be added)
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Created Date:
                </div>
                <div class="ui-grid-col-6">
                    {{ member['created_date'] | date: 'yyyy-MM-dd HH:mm'}}
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
            <hr>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Modified By:
                </div>
                <div class="ui-grid-col-6">
                    (to be added)
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Modified Date:
                </div>
                <div class="ui-grid-col-6">
                    {{ member['modified_date'] | date: 'yyyy-MM-dd HH:mm'}}
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
        </p-fieldset>

        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                <button pButton type="button" (click)="uploadPic()" label="Upload Image" class="ui-button-info">
                </button>
                <hr>
                <button pButton type="button" (click)="editDetail()" label="Edit" class="ui-button-warning">
                </button>
                <hr>
                <button pButton type="button" (click)="deleteDetail()" label="Delete" class="ui-button-danger">
                </button>
            </div>
            <div class="ui-grid-col-6">
                <button pButton type="button" (click)="goBack()" label="Close" class="ui-button-success">
                </button>
            </div>
            <div class="ui-grid-col-4">
            </div>
        </div>

    </div>

</p-panel>