<p-panel header="Recipe Cards by Category" class="ui-g-12">
  Click to view list by category.
  <p>
  <a href="http://localhost:4200/recipes/recipe-detail/4">view details</a>(for testing only)-->
  </p>
  listing:
  <ul>
  <li *ngFor="let r of result">
    {{ r.id }} {{ r.name }}
  </li>
  </ul>
  <!--    <table class="table">
        <thead>
          <tr valign="top">
            <td class="font-weight-bold">id (cat)</td>
            <td class="font-weight-bold">name</td>
            <td class="font-weight-bold">description</td>
            <td class="font-weight-bold">instructions</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of recipes">
            <td valign="top">{{ r.id }} ({{ r.category }})</td>
            <td valign="top">
              <a [routerLink]="[ '/recipe-detail', r.id ]">{{ r.name }}</a></td>
            <td valign="top">
              {{ b.description }}</a></td>
            <td valign="top">{{ b.instructions }}</td>
          </tr>
        
        </tbody>
      </table>
    -->
  <p-footer>
    <p-fieldset legend="Bread" class="ui-g-12 ui-md-4">
      <a href="http://localhost:4200/recipes/recipe-by-category?category='Bread'"><img src="../assets/img/bread.jpg" width="60%" align="right" /></a>
    </p-fieldset>
    <p-fieldset legend="Cake" class="ui-g-12 ui-md-4">
      <img src="../assets/img/cake.jpg" width="60%" align="right" />
      
    </p-fieldset>
    <p-fieldset legend="Cookies" class="ui-g-12 ui-md-4">
      <img src="../assets/img/cookies.jpg" width="60%" align="right" />
      
    </p-fieldset>
    <p-fieldset legend="Custard" class="ui-g-12 ui-md-4">
      <img src="../assets/img/custard.jpg" width="60%" align="right" />
      
    </p-fieldset>
    <br>
    <p-fieldset legend="Pastry" class="ui-g-12 ui-md-4">
      <img src="../assets/img/pastry.jpg" width="60%" align="right" />
      
    </p-fieldset>
    <br>
    <p-fieldset legend="Pie" class="ui-g-12 ui-md-4">
      <img src="../assets/img/pie.jpg" width="60%" align="right" />
      
    </p-fieldset>
    <br>
    <p-fieldset legend="Tart" class="ui-g-12 ui-md-4">
      <img src="../assets/img/tart.jpg" width="60%" align="right" />
      
    </p-fieldset>
    <br>
    <p-fieldset legend="Misc" class="ui-g-12 ui-md-4">
      <img src="../assets/img/misc.jpg" width="60%" align="right" />
      
    </p-fieldset>
  </p-footer>
</p-panel>
