<p-panel header="Delete Member" class="ui-g-12">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <p-fieldset legend="Login (email + password)">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Email:
                    </div>
                    <div class="ui-grid-col-6">
                        <!--{{ member['email']}}-->
                    </div>
                    <div class="ui-grid-col-4">
                    </div>
                </div>
    
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Password:
                    </div>
                    <div class="ui-grid-col-6">
                    </div>
                    <div class="ui-grid-col-4">
                    </div>
                </div>
            </p-fieldset>
            <br>
            <br>
            <p-fieldset legend="Profile">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Last Name:
                    </div>
                    <div class="ui-grid-col-6">
                    </div>
                    <div class="ui-grid-col-4">
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        First Name:
                    </div>
                    <div class="ui-grid-col-6">
                    </div>
                    <div class="ui-grid-col-4">
                    </div>
                </div>
            </p-fieldset>
            <br>
            <br>
            <p-fieldset legend="Audit Log">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Created By:
                    </div>
                    <div class="ui-grid-col-6">
                        (to be added)
                    </div>
                    <div class="ui-grid-col-4">
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Created Date:
                    </div>
                    <div class="ui-grid-col-6">
                    </div>
                    <div class="ui-grid-col-4">
                    </div>
                </div>
                <hr>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Modified By:
                    </div>
                    <div class="ui-grid-col-6">
                        (to be added)
                    </div>
                    <div class="ui-grid-col-4">
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Modified Date:
                    </div>
                    <div class="ui-grid-col-6">
                    </div>
                    <div class="ui-grid-col-4">
                    </div>
                </div>
            </p-fieldset>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <button pButton type="button" (click)="onDeleteMember()" label="Delete" class="ui-button-danger">
                    </button>
                </div>
                <div class="ui-grid-col-6">
                    <button pButton type="button"  (click)="goBack()" label="Close" class="ui-button-success">
                    </button>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
        </div>
    </p-panel>