<p-panel header="Start Baking! Measure . Mix . Bake . Eat . Repeat" class="ui-g-12">
    <h3>A Recipe Site For The Home Baker.</h3>
    <h4>
        <ul>
            <li> Fork a recipe into your personal recipe collections.</li>
            <li> Modify recipe, change ingredients and instructions to suit your preferences.</li>
            <li> Then, share them with your friends.</li>
        </ul>
    </h4>
    <p-footer>
            <br>
            Featured Recipes:
            <p-galleria [images]="images" [showCaption]="true"></p-galleria>
            <!--
            <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true"></p-galleria>
            -->
            <p>
            
            </p>
    </p-footer>
</p-panel>